fastapi[standard]==0.115.6
pydantic==2.10.4
python-multipart==0.0.20
python-dotenv==1.0.1
pymupdf==1.25.1
pillow==11.0.0
pytesseract==0.3.13
requests==2.32.3
pandas==2.2.3
fpdf2==2.8.2
openpyxl==3.1.5
python-docx==1.1.2
chromadb
jsonlines
langchain-community
langchain-huggingface
langchain-text-splitters
weasyprint
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
sentence-transformers